.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  color: white;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-header h1{
  color: gold;
}

.App-content{
  padding: 3%;
}

.App-content input{
  margin: auto 15px auto 15px;
}

.block{
  border: 2px dotted;
}